@model BlogEngine.UI.Viewmodels.CreatePostVM
@{
    ViewBag.Title = "CreatePost";
}

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
tinymce.init({
    selector: 'textarea',
    plugins: "image textcolor",
    image_dimensions: 'false',
    relative_urls: false,
    
}); </script>

<div class="row">
    <div class="col-md-2">
        @Html.Partial("_AdminMenu")
    </div>
    <div class="col-md-8">
        <h2>New Post</h2>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.Post.Author.AuthorName)
            <div class="form-group">
                <label>Title</label>
                @Html.TextBoxFor(m => m.Post.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Post.Title)
            </div>
            <div class="form-group">
                <label>Date to Publish</label>
                @Html.TextBoxFor(m => m.Post.datePublished, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date"})
                @Html.ValidationMessageFor(m => m.Post.datePublished)
            </div>
            <div class="form-group">
                <label>Date Expires</label>
                @Html.TextBoxFor(m => m.Post.dateExpires, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date"})
            </div>
            <div class="form-group">
                <label>Tags</label>
                @Html.TextBoxFor(m => m.Tags, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Content</label>
                @Html.TextAreaFor(m => m.Post.Content, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Post.Content)
            </div>
            if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label>Approve</label>
                    @Html.CheckBoxFor(m => m.Post.IsApproved)
                </div>
            }
            <button class="btn btn-primary" type="submit">Save</button>
        }

        @using (Html.BeginForm("FileUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <br />
            <label class="btn btn-info btn-file"> <span class="glyphicon glyphicon-folder-open"></span> Browse Files
                <input class="btn btn-info" type="file" name="file" id="file" style="display: none;" />
            </label>
            <input class="btn btn-info" type="submit" value="Upload" class="submit" />
        }
    </div>
</div>

