@model BlogEngine.Models.Page
@{
    ViewBag.Title = "EditPage";
}

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea' });</script>

<div class="row">
    <div class="col-md-2">
        @Html.Partial("_AdminMenu")
    </div>
    <div class="col-md-8">
        <h2>Edit Page</h2>
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.PageId)
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label>Title</label>
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            <div class="form-group">
                <label>Content</label>
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Content)
            </div>
            <button class="btn btn-primary" type="submit">Save Post</button>
            <a href="/Home/DeletePage/@Model.PageId" id="deleteBtn" class="btn btn-danger">Delete Page</a>
            
        }
    </div>
</div>

@section scripts {
    <script>
        $(function(){
            $('#deleteBtn').click(function (e) {
                if(!confirm("Are you sure you want to delete this?"))
                {
                    e.preventDefault();
                }
            })
        })
    </script>
}