@model SGCorpHRportal.Models.Policy

@{
    ViewBag.Title = "PolicyDelete";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Policy</h3>
        @Html.ActionLink("Return to PolicyManage", "PolicyManage", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("PolicyDelete", "Admin", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.PolicyId)
            @Html.HiddenFor(m => m.PolicyName)
            <p>Are you sure that you wish to delete the policy @Html.DisplayFor(m => m.PolicyName)?</p>
            <button type="submit" class="btn btn-lg btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "PolicyManage", "Admin", null, new { @class = "btn btn-lg btn-info" })
        }
    </div>
</div> 