<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
@*    @Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" type="text/css" media="all" />  
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="logo-top">
        @*<span style="color: blue; font-size: 26px; font-weight: bold;">*@
        <h1><img src="~/Content/IronHawk_60x60.jpg" />IronHawk TechBlog</h1>@*</span>*@
    </div>
        <div class="navbar navbar-inverse" style="background-image: url(/Content/fiberoptic.png); background-size:auto; background-position-x:right; background-repeat:no-repeat; background-color:black;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/Home/Index" class="navbar-brand">
                    <span class="glyphicon glyphicon-home"></span>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @{Html.RenderAction("StaticPageList", "Home", new List<Page>()); }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Admin", "PostAdmin", "Home")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
    </div>

        <div class="container body-content">
            @RenderBody()
            <footer>
                <p>&copy; @DateTime.Now.Year - IronHawk Technologies (c)</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
