@model CarDealership.UI.ViewModels.InforequestupdateVM


@{
    ViewBag.Title = "Inforequestupdate";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Update InfoRequest Status</h3>
        @Html.ActionLink("Go to InfoRequestlist", "Inforequestlist", "Dealership")
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Inforequestupdate", "Dealership", FormMethod.Post))
        {
            @Html.ValidationSummary(true)

            <div class="form-group">
                <label>Vehicle tied to Status Update :</label>
                <div id="">
                    @Html.DropDownListFor(m => m._selectedRequestId, Model._Requestitems, "-Choose A Request-", new { @class = "form-control", id = "SelectRequest" })
                </div>
            </div>
            <br /><br />

            <div class="form-group" id="">
                <label>Update Status to: </label>
                <br />
                @Html.RadioButtonFor(t => t._status, 0)
                @Html.LabelFor(t => t._status, "New")
                <br />
                @Html.RadioButtonFor(t => t._status, 1)
                @Html.LabelFor(t => t._status, "AwaitingReply")
                <br />
                @Html.RadioButtonFor(t => t._status, 2)
                @Html.LabelFor(t => t._status, "FutureProspect")
                <br />
                @Html.RadioButtonFor(t => t._status, 3)
                @Html.LabelFor(t => t._status, "LostOpportunity")
            
            </div>

            <button type="submit" class="btn btn-sm btn-primary">Update Status</button>
        }
    </div>
</div>

@section Scripts{

}




