@model CarDealership.UI.ViewModels.VehicledisplayVM

@{
    ViewBag.Title = "Vehicledisplay";
}

<div class="col-xs-12 col-sm-9">
    <div class="row">
        <div class="col-xs-12">
            <h3>Vehicle Information</h3>
            <br />
            <div class="form-group">
                <label>List of Vehicles :</label>
                <div id="">
                    @Html.DropDownListFor(m => m._selectedVehicleId, Model._Vehicleitems, "-Choose A Vehicle-", new { @class = "form-control", id = "SelectVehicle" })
                </div>
            </div>
            <br /><br />

            @if (Model._vehicle != null) // check to see if selected employee is null
            {
                <div class="row" id="">
                    <div class="col-xs-12">
                        <table class="table table-striped" style="width: auto;">
                            <thead>
                                <tr>
                                    <th>Make</th>
                                    <th>Model</th>
                                    <th>Year</th>
                                    <th>Mileage</th>
                                    <th>AdTitle</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>IsAvailable</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model._vehicle.Make</td>
                                    <td>@Model._vehicle.Model</td>
                                    <td>@Model._vehicle.Year</td>
                                    <td>@Model._vehicle.Mileage</td>
                                    <td>@Model._vehicle.AdTitle</td>
                                    <td>@Model._vehicle.Description</td>
                                    <td>@Model._vehicle.Price</td>
                                    <td>@Model._vehicle.IsAvailable</td>
                                </tr>
                            </tbody>
                        </table>
                        <br /><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        @Html.Partial("_CarImage", Model._vehicle)
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#SelectVehicle").change(function () {
                window.location.href = "/Dealership/Vehicledisplay?selectedVehicleId=" + $(this).val();
            });
        });
    </script>
}

