@model IEnumerable<Exercises.Models.Data.Student>

@{
    ViewBag.Title = "List";
}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        @Html.Partial("StudentNav")
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h4>Student List</h4>
                <div class="row">
                    @Html.ActionLink("Add Student", "Add", "Student", null, new { @class = "btn btn-primary" })                                    
                  </div> 
                <br />   
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Major</th>
                            <th>GPA</th>
                            <th>Address</th>
                            <th>Courses</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in Model)
                        {
                            <tr>
                                <td>@student.FirstName</td>
                                <td>@student.LastName</td>
                                <td>@student.Major.MajorName</td>
                                <td>@student.GPA</td>
                                <td>@Html.DisplayFor(studentlist => student.Address.Street1)
                                    @Html.DisplayFor(studentlist => student.Address.Street2)
                                    @Html.DisplayFor(studentlist => student.Address.City),
                                    @Html.DisplayFor(studentlist => student.Address.State.StateName)
                                    @Html.DisplayFor(studentlist => student.Address.PostalCode)
                             
                                </td>
                                
                                @if (student.Courses != null) {
                                <td>@foreach (var course in student.Courses)
                                {
                                @Html.DisplayFor(studentlist => course.CourseName)

                                }
                                </td>
                                    }
                                @if (student.Courses == null)
                                {
                                    <td></td>
                                }
                                <td>@Html.ActionLink("Edit", "Edit", "Student", new { id = "StudentId", student.StudentId }, 
                                   new { @class = "btn btn-primary" })</td>
                                <td>@Html.ActionLink("Delete", "Delete", "Student", new { id = "StudentId", student.StudentId } 
                               , new { @class = "btn btn-primary" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

