@model DVDLibrary.UI.ViewModels.DVDdisplayVM

@{
    ViewBag.Title = "DVDdisplay";
}

<div class="row">
    <div class="col-xs-12">
        <h3>DVD Information</h3>
        <br />
        <div class="form-group">
            <label>List of DVDs :</label>
            <div id="">
                @Html.DropDownListFor(m => m.dvdId, Model.DVDItems, "-Choose A DVD-", new { @class = "form-control", id = "SelectDVD" })
            </div>
        </div>
        <br /><br />

        @if (Model.selectedDVD != null) // check to see if selected dvd is null
        {
            <div class="row" id="">
                <div class="col-xs-12">
                    <table class="table table-striped table-bordered" style="width: auto;">
                        <thead>
                            <tr style="background-color:gainsboro">
                                <th>Title</th>
                                <th>Release_Date</th>
                                <th>Rating</th>
                                <th>Studio</th>
                                <th>DirectorName</th>
                                <th>User_Rating</th>
                                <th>User_Notes</th>
                                <th>ActorsInMovie</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.selectedDVD.Title</td>
                                <td>@Model.selectedDVD.ReleaseDate.ToString("MM/dd/yyyy")</td>
                                <td>@Model.selectedDVD.MPAARating</td>
                                <td>@Model.selectedDVD.Studio</td>
                                <td>@Model.selectedDVD.DirectorName</td>
                                <td>@Model.selectedDVD.UserRating</td>
                                <td>@Model.selectedDVD.UserNotes</td>
                                <td>@Model.selectedDVD.ActorsInMovie</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                </div>
            </div>
        }
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#SelectDVD").change(function () {
                window.location.href = "/DVD/DVDdisplay?selectedDVDId=" + $(this).val();
            });
        });
    </script>
}




