@model DVDLibrary.UI.ViewModels.DVDEditVM
@using DVDLibrary.Models

@{
    ViewBag.Title = "DVDEdit";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="page-header">Edit DVD</h3>
        @Html.ActionLink("Go to DVDlist", "DVDlist", "DVD", new { @style = "color:purple" })
        <br /><br />
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("DVDEdit", "DVD", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.DVD.Id);
            <div class="form-group">
                <label>DVD Title: </label>
                @Html.TextBoxFor(m => m.DVD.Title, new { @class = "form-control", placeholder = "" })
                @Html.ValidationMessageFor(m => m.DVD.Title)
            </div>
            <div class="form-group">
                <label>DVD Release Date: </label>
                <div id="">
                    @Html.EditorFor(m => m.DVD.ReleaseDate, new
                {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       @type = "datetime",
                       @id = "datePicker",
                       @placeholder = $"{Model.DVD.ReleaseDate.Date.ToString("yyyy-MM-dd")}",
                       @value = $"{Model.DVD.ReleaseDate.Date.ToString("yyyy-MM-dd")}"
                   }
                })
                    @Html.ValidationMessageFor(m => m.DVD.ReleaseDate)
                </div>
            </div>
            <div class="form-group" id="">
                <label>Rating: &nbsp;</label>
                @foreach (var rating in Model.mpaaRatings)
                {
                    @Html.RadioButtonFor(m => m.DVD.MPAARating, (MPAARating)rating.Key)
                    <span>&nbsp;</span>
                    @Html.LabelFor(m => m.DVD.MPAARating, rating.Value)
                    <span>&nbsp;</span>
                }
            </div>

            <div class="form-group">
                <label>Director Name: </label>
                @Html.TextBoxFor(m => m.DVD.DirectorName, new { @class = "form-control", placeholder = "" })
                @Html.ValidationMessageFor(m => m.DVD.DirectorName)
            </div>
            <div class="form-group">
                <label>Studio: </label>
                @Html.TextBoxFor(m => m.DVD.Studio, new { @class = "form-control", placeholder = "" })
                @Html.ValidationMessageFor(m => m.DVD.Studio)
            </div>
            <div class="form-group">
                <label>Actors in Movie: </label>
                <div id="">
                    @Html.TextBoxFor(m => m.DVD.ActorsInMovie, new { @class = "form-control", placeholder = "" })
                    @Html.ValidationMessageFor(m => m.DVD.ActorsInMovie)
                </div>
            </div>
            <div class="form-group" id="">
                <label>User Rating: </label>
                @Html.TextBoxFor(m => m.DVD.UserRating, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DVD.UserRating)
            </div>
            <div class="form-group">
                <label>User Notes: </label>
                @Html.TextBoxFor(m => m.DVD.UserNotes, new { @class = "form-control", placeholder = "", @style = "padding: 15px 10px 100px 10px" })
                @Html.ValidationMessageFor(m => m.DVD.UserNotes)
            </div>

            @Html.HiddenFor(m => m.DVD.BorrowerList)
            <button type="submit" class="btn btn-lg btn-primary">Save</button>
        }
    </div>
</div>

@section Scripts{
    
}

