@model List<DVDLibrary.Models.DVD>

@{
    ViewBag.Title = "DVDlist";
}

<h3>DVD List - (In Stock)</h3>
<br />

<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr style="background-color:gainsboro">
                    <th>Title</th>
                    <th>Release_Date</th>
                    <th>Rating</th>
                    <th>Studio</th>
                    <th>User_Rating</th>
                    <th>UserNotes</th>
                    <th>Actors_In_Movie</th>
                    <th>Modify?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dvd in Model.OrderByDescending(d => d.Title).OrderByDescending(d => d.UserRating))
                {
                    if (!dvd.IsBorrowed)
                    {
                        <tr>
                            <td> @dvd.Title </td>
                            <td> @dvd.ReleaseDate.ToString("MM/dd/yyyy") </td>
                            <td> @dvd.MPAARating </td>
                            <td> @dvd.Studio </td>
                            <td> @dvd.UserRating </td>
                            <td> @dvd.UserNotes </td>
                            <td> @dvd.ActorsInMovie </td>
                            <td>
                                @Html.ActionLink("Edit", "DVDEdit", "DVD", new { id = dvd.Id }, new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                        <tr></tr>
                    }
                }
            </tbody>
        </table>
    </div>   
</div>